{% extends 'base.html' %}
{% load group_tags %}
{% block content %}
    <div class="home_wr">
        {% for article in articles %}
            <div class="con_pan_art_wr">
                <a href="{% url 'article' article.id %}" class="home_art_title">
                    {{ article.title }}
                </a>
                <div class="home_art_text">
                    {{ article.text }}
                </div>
                <div class="af_text">
                    
                </div>
                <div class="comm_a_d">
                    <div class="comment_author">
                        {{ article.author }}
                    </div>
                    <div class="comment_date">
                        {{ article.date|date:"Y-m-d H:i:s" }}
                    </div>
                </div>
                {% if request.user|has_group:'admin' %}
                    <form class="form_del_art" action="{% url 'del_article' article.id %}" method="post">
                        {% csrf_token %}
                        <button data-article-id="{{ article.id }}" type="submit">Удалить</button>
                    </form>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}