{% extends 'base.html' %}
{% block content %}
<form class="form_log" action="{% url 'register' %}" method="post">
    {% csrf_token %}
    {% if messages %}
        {% for message in messages %}
            <div class="need_auth">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <div class="font_corr">Логин</div>
    <input type="text" name="login" autocomplete="off">
    <div class="font_corr">Пароль</div>
    <input type="password" name="password1" autocomplete="off">
    <div class="font_corr">Повторите пароль</div>
    <input type="password" name="password2" autocomplete="new-password">
    <button type="submit">Регистрация</button>
    <a href="{% url 'login' %}" class="register_but">Есть аккаунт? Войти</a>
</form>
{% endblock %}